black==24.2.0
flake8==7.0.0
isort==5.13.2
ipdb==0.13.13
notebook
pytest==8.0.1
networkx==3.4.2
matplotlib
PyYAML
torch==2.4.0
torch-geometric==2.6.1
--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cpu.html
--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cu118.html
--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cu121.html
--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cu124.html
torch-scatter

--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cpu.html
--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cu118.html
--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cu121.html
--find-links https://pytorch-geometric.com/whl/torch-2.4.0+cu124.html
torch-sparse

pydantic
click
pandas